@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.mainWeatherContainer {
    height: 300px;
    width: 300px;
    margin: 0;
    padding: 10px;
    
    border: 3px solid white;
    border-radius: 15px;
    background-color: #1b1b1b;
    font-family: 'Albert Sans';
    color: white;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em;    
}

p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.locationName {
    font-size: 32px;
    max-width: 100%;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer {
    font-size: 10px;
}